.messenger-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 13px;
  text-align: center;
  background-color: #555;
  font-size: 24px;
  line-height: 40px;
  border-radius: 6px;
  box-shadow: 0 0 5px #0000001f;
  cursor: pointer;
  user-select: none;
  color: #fff;
  transition: background-color .3s ease;

  &:hover {
    background-color: #666;
  }
  &:active {
    background-color: #777;
  }
}