.messenger-auth {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 20px;
  max-width: 400px;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  height: 280px;
  justify-content: flex-end;

  &-header {
    text-align: center;
    font-size: 7vmin;
    letter-spacing: 10pt;
    margin-right: -10px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 5px rgb(0 0 0 / 35%);
  }

  &-body {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;

    &-form {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}