.messenger-auth {
  align-self: center;

  &-header {
    text-align: center;
    font-size: 35px;
    letter-spacing: 10pt;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 5px #00000059;
    padding: 100px 0;
  }

  &-body {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;

    &-form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 20px;
    }
  }

  &-message {
    &-error,
    &-info {
      width: 400px;
      margin: 20px auto;
      padding: 10px 20px;
      box-sizing: border-box;
      border-radius: 11px;
    }

    &-error {
      background-color: #c55a5a;
    }

    &-info {
      background-color: #868686;
    }
  }
}