.messenger-auth {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 20px;
  max-width: 500px;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  height: 280px;
  justify-content: flex-end;

  &-header {
    text-align: center;
    font-size: 47px;
    letter-spacing: 10pt;
    margin-right: -10px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 5px rgb(0 0 0 / 35%);
  }

  &-body {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;

    &-form {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}

@media (max-width: 500px) {
  .messenger-auth {
    height: 250px;

    &-header {
      font-size: 24px;
    }
  }
}

.messenger-author {
  position: absolute;
  bottom: 15px;
  align-self: center;
  color: #a0a0a0;
  letter-spacing: 3px;
  margin-right: -3px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}