.messenger-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  position: relative;

  &-user {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    box-shadow: 0 0 10px #0000004a;
    z-index: 1;
    align-items: center;
    color: #fff;

    &-block {
      display: flex;
      gap: 15px;
      align-items: baseline;
      overflow: hidden;
      margin-right: 15px;

      &-info {
        font-size: 18px;
        user-select: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &-name {
          font-weight: bold;
        }
      }

      &-online {
        &-item {
          display: flex;
          gap: 10px;
          padding: 5px 15px;
          align-items: flex-start;

          &-on,
          &-off {
            width: 6px;
            height: 6px;
            border-radius: 3px;
            flex-shrink: 0;
            margin-top: 4px;
          }

          &-on {
            background-color: #4caf50;
          }

          &-off {
            background-color: #e91e63;
          }

          &-name {
            font-size: 15px;
            line-height: 15px;
            max-width: 150px;

            &-bold {
              font-weight: bold;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }

          &-last {
            font-size: 12px;
            line-height: 12px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #b0b0b0;
          }
        }
      }
    }

    &-exit {
      font-size: 15px;
      line-height: 30px;
      flex-shrink: 0;
    }

    &-master {
      background-image: linear-gradient(to right, #ec407a 0%, #ba68c8 17%, #9575cd 33%, #7986cb 50%, #9575cd 67%, #ba68c8 83%, #ec407a 100%);
      background-size: 500% auto;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: text-animation 30s linear infinite;
    }
  }

  &-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 15px 60px 15px;
    gap: 7px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    &-messageBlock {
      position: relative;
      display: inline-flex;
      background-color: #565656;
      padding: 5px 40px 15px 15px;
      border-radius: 5px;
      align-items: baseline;
      min-width: 25px;

      &-me {
        align-self: end;
      }

      &-user {
        align-self: start;
      }

      &-username {
        font-size: 14px;
        margin-right: 5px;
        font-weight: bold;
        max-width: min-content;
        line-height: 14px;
        text-align: right;
        flex-shrink: 0;
        color: #9a9a9a;
        text-shadow: 0 0 5px #00000052;
        user-select: none;
      }

      &-text {
        max-width: 500px;
        color: #fff;
      }

      &-date {
        position: absolute;
        font-size: 11px;
        bottom: 2px;
        right: 5px;
        color: #cdcdcd;
        user-select: none;
      }
    }

    &-eventBlock {
      display: flex;
      justify-content: center;
      position: relative;
      align-items: center;
      user-select: none;

      &-text {
        font-size: 12px;
        color: #fff;
      }

      &-divider {
        margin: 0 5px;
        height: 12px;
        border-left: 1px solid #a0a0a0;
      }

      &-date {
        font-size: 12px;
        color: #a0a0a0;
      }
    }
  }

  &-input {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;

    &-wrapper {
      flex-grow: 1;
    }

    &-block {
      line-height: 35px;
      margin: 10px 0 10px 10px;
      box-shadow: 0 0 10px #0000004a;
      border-radius: 23px;
    }

    &-button {
      margin: 10px;
      box-shadow: 0 0 10px rgb(0 0 0 / 29%);
      border-radius: 25px;
      height: 50px;
      transition: margin-right .3s ease;
    }
  }
}

@keyframes text-animation {
  to {
    background-position: 500% center;
  }
}