.messenger-switch-content {
  position: relative;
  transition: flex-grow .3s ease;

  &-block {
    position: absolute;
    width: 100%;
    bottom: 0;
    transition: opacity .3s ease, transform .3s ease;
  }
}