@font-face {
  font-family: "Rubik";
  src: url('../public/Rubik.ttf');
}

body {
  margin: 0;
  font-family: Rubik, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: -webkit-fill-available;
  background: linear-gradient(to bottom, #454545, #2f2f2f);
  overflow: hidden;
}